box-sizing: border-box;
*{margin:0;}

.box1 {
    padding: 8px 15px;
    border: 2px solid rgb(0, 38, 255);
    margin: 100px;
    height: 200px;
    width: 800px;
}
.box2 {
    padding: 10px 15px;
    border: 2px solid rgb(252, 251, 251);
    margin: 50px;
    height: 300px;
    width: 800px;
    max-width: 80%;
}

.mydiv {
    padding: 6px 15px;
    border: 2px solid rgb(0, 51, 255);
    border-radius: 15px;
}

h1 {
    text-shadow: 2px 2px;
  }

  div {
    box-shadow: 10px 10px rgb(88, 88, 88);
  }

  body {background-color: rgb(255, 0, 162);}