
*{margin:0;
    box-sizing: border-box;}

.box1 {
    padding: 8px 15px;
    border: 2px solid rgb(0, 38, 255);
    margin: 100px;
    height: 200px;
    width: 800px;
    display: none; visibility: hidden;
}
.box2 {
    padding: 10px 15px;
    border: 2px solid rgb(252, 251, 251);
    margin: 50px;
    height: 300px;
    width: 800px;
    max-width: 80%;
    display: inline;
}



h1 {
    text-shadow: 2px 2px;
  }

  div {
    box-shadow: 10px 10px rgb(88, 88, 88);
  }

  body {background-color: rgb(255, 0, 162);}

.cs2{
    width: 500px;
    max-width: 60%;
    border-radius: 20px;
    filter: grayscale(100%);
    
      
}