
p {
    color: rgb(255, 0, 0);
    text-align: center;
    text-align: justify;
    text-decoration: underline;
    font-family: "wide latin", Times, serif;
    font-style: italic;
    font-size: 25px;
    font-weight: bold;
}

p {
    font: italic bold 35px "wide latin", Times, serif;
    text-align: center
}

body {margin: 0;
    font-size: 16px;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.6em;
}

li {
    list-style-type: circle;
}
.box1 {
    padding: 8px 15px;
}
.box2 {
    padding: 8px 15px;
    border: 2px solid rgb(255, 0, 0);
}

.box1 {
    padding: 8px 15px;
    border: 2px solid black;
    border-radius: 15px;
}