button.Paina-tästä {
    width: 70px;
    height: 50px;
    background-color: #4CAF50; 
    color: rgb(255, 0, 0);  
    border: none;  
    border-radius: 5px; 
    font-size: 14px;
    cursor: pointer; 
    transition: all 1.5s ease;  
}


button.Paina-tästä:hover {
    background-color: #00f90c;  
    transform: scale(3.3); 
}