.more-button {
    padding: 15px 30px;
    font-size: 1.2em;
    color: white;
    background-color: #004d99;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease, width 0.3s ease;
    animation: buttonPulse 1.5s infinite; 
    width: 150px; 
  }
  
  .more-button:hover {
    background-color: #003366;
    transform: scale(1.1); 
    width: 180px;
  }
  